pyyaml
numpy
pandas
pyotp
NorenRestApiPy
websocket-client
pytest
requests
sqlalchemy
psycopg2-binary
tabulate
progressbar2
matplotlib
pandasql
pytz
git+https://github.com/TechnoPunter/TechnoPunter-Commons.git@bo